{% extends 'core/layout.html' %}

{% block content %}
    <main>
        {% load static %} 
        <section class="py-5 text-center container">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/perro.jpg' %}"  class="d-block proporcionimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/perro2.jpg' %}" class="d-block proporcionimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/perros/perro3.jpg' %}" class="d-block proporcionimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/perros/perro4.jpg' %}" class="d-block proporcionimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/gatos/gato1.jpg' %}" class="d-block proporcionimg" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/gatos/gato2.jpg' %}" class="d-block proporcionimg" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/perros/perro1.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/perros/perro2.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn  btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/perros/perro3.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn  btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/perros/perro4.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/perros/perro5.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/perros/perro6.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/perros/perro7.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/gatos/gato1.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/gatos/gato2.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/perros/perro3.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/gatos/gato4.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{% static 'img/gatos/gato5.jpg' %}" class="img-fluid" alt="...">
                            <div class="card-body">
                                <p class="card-text">Comentario de ejemplo para esta pagina web, el cual es replicado en todos los contenidos.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Ver</button>

                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
